[server]
# Este grupo es leído por el servidor MariaDB.

[mysqld]
# Este grupo es leído por el demonio mysqld.

user                    = mysql # Especifica el usuario bajo el cual se ejecutará el servidor MariaDB.
pid-file                = /run/mysqld/mysqld.pid # Especifica la ubicación del archivo PID del servidor MariaDB.
socket                  = /run/mysqld/mysqld.sock # Especifica la ubicación del archivo de socket utilizado para las conexiones locales.
port                    = 3306 # Especifica el puerto en el que el servidor MariaDB escuchará las conexiones.
basedir                 = /usr # Especifica el directorio base de la instalación de MariaDB.
datadir                 = /var/lib/mysql # Especifica el directorio donde se almacenan los datos de la base de datos.
tmpdir                  = /tmp # Especifica el directorio donde se almacenan los archivos temporales.

lc-messages-dir         = /usr/share/mysql
# Especifica el directorio donde se encuentran los archivos de mensajes de idioma.

bind-address            = 0.0.0.0
# Especifica la dirección IP en la que el servidor MariaDB escuchará las conexiones. 
# 0.0.0.0 significa que escuchará en todas las interfaces de red disponibles.

query_cache_size        = 16M
# Especifica el tamaño de la caché de consultas. 
# Una caché de consultas más grande puede mejorar el rendimiento al almacenar en caché los resultados de las consultas frecuentes.

log_error = /var/log/mysql/error.log
# Especifica la ubicación del archivo de registro de errores.

character-set-server  = utf8mb4
# Especifica el conjunto de caracteres predeterminado para el servidor MariaDB.

collation-server      = utf8mb4_general_ci
# Especifica la intercalación predeterminada para el servidor MariaDB.

[embedded]
# Este grupo es leído por el servidor embebido de MariaDB.

[mariadb]
# Este grupo es leído por los servidores MariaDB, no por MySQL.